table {
  width: min-content;
  margin: 2rem;
  

  & th {
    font-weight: bold;
    font-size: 120%;
  }
}

.mat-column-a {
  flex: none;
  width: 100px;
  padding: 1rem;
}
.mat-column-b {
  flex: none;
  width: 100px;
  padding: 1rem;
}
.mat-column-c {
  flex: none;
  width: 100px;
  padding: 1rem;
}
